html, body {
	margin:0px;
	margin-top:0px;
  width: 100%;
  height: 100%;
}

.full-height {
  height: 100%;
  margin-top:0px;
  background-color:red;
  width:40%;
  float:left;
  margin:0px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



.p{
  margin-top: 1%;
  
}





.barrahe{
float:left;	
background-color:red;
text-align:center;
  overflow: hidden;
  width: 100%;
  padding-top: 30%;
}


.barrahe a{
	background-color:green;
margin-right:2%;
padding:10px 10px;
display: block;
width: 100%;
}

.barrahe1{
overflow: hidden;
background-color:green;
position: fixed;
width: 100%;
margin-bottom: 10%;

}

.mi{
  margin-top: 5em;
 margin-bottom: 50em;
 
}
.git{
  margin-right: 0.6%;
}

.git:hover{
  filter: invert(100%);
  
}

.experiencia{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  padding-top: 100px;
}

.barrahe1 a{
	float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.barrahe1 a.hover{
	color:blue;
	background-color:purple;
}

.barrahe1 a.active{
color:yellow;
background-color:pink;	
}

ng-container{
  margin-right: 2%;
}

.btn{
  background-color: green;
  /*float:right;*/
}
.btnfra{
  background-color: green;
  /*float:right;*/
}

.idiomas{
  text-align: center;
}

.foto{
  margin-bottom: 4%;
}

.foto:hover{
/*filter: saturate(var(--value,5));*/
filter:blur(2px);
}


.band {
  /*border-radius: 50%;*/
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
          
}
.band:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}


.experiencia{
  margin-bottom: 10em;
}
.table{
  border:separate;
}

.table1{
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  color:rebeccapurple;
  border-collapse: collapse;
  font-size: 16px;
}



.table1 th,
.table1 td {
    padding: 9px 9px 9px 0px;
}



.w3-table{
  color:green;
  font-size: 16px;
  font-family: fantasy;
  
}

.lengpro{
  width: 80%;
  background-color: aqua;
  border-radius: 20px;
}

.latex{
  width: 90%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.cs{
  width: 80%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.r,.scala{
  width: 75%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.angular{
  width: 70%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.html{
  width: 55%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.sql,.azure{
  width: 50%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}


.xamarin{
  width: 40%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.css{
  width: 30%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.javascript{
  width: 20%;
  text-align: center;
  background-color: brown;
  border-radius: 20px;
}

.ladoizq{
  width: 20%;
     float: left;
     background-color: rebeccapurple;
  height: 100%;
  position: fixed;
}

.ladoder{
width: 80%;
float: right;
background-color: greenyellow;

}

.ladodermargen{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}